@import '../../styles/propertySets.css';


.staticPageWrapper {
  width: calc(100% - 48px);
  max-width: 1056px;
  margin: 24px auto;

  @media (--viewportMedium) {
    width: calc(100% - 72px);
    margin: 72px auto;
  }
}

.staticPageWrapper p, ul li, ol li{
  font-family: Helvetica Neue,HelveticaNeue-CondensedBold,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,sans-serif;
  font-size: .95rem;
  line-height: 21px;
}
.staticPageWrapper section h2{
  font-size: 1.875rem;
  text-align: center;
}
.heroWrapper{
  display:flex;
  position: relative;
  background-image: url(./find-a-local-fishing-guide.jpg);
  height: 400px;
  background-size: cover;
  background-position: center;
}

.heroWrapper h2{

  font-size: 24px;
  font-family: 'Montserrat', sans-serif;
    line-height: 1.2;
  max-width: 500px;
  font-weight: 700;
  @media screen(--viewportMedium) {
    font-size: 38px;
  }
}

.sectionTitle img{
  display:block;
  margin: 3rem auto 0 auto;
}

.flex{
  display:flex;
  align-items: flex-start;
  flex-direction: column;
  @media (--viewportMedium) {
    flex-direction:row;
  }
}
.heroWrapper p{
  position:absolute;
  width: 100%;
  color: #fff;
  top: 40%;
  width: calc(100% - 72px);
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 1056px;
  z-index: 9;
}
.coverImage {

    /* border-radius: 4px;
    position: relative;
    z-index: 0;
    right: 87vw; */


  @media (--viewportMedium) {
    width: 100%;
    height: 528px;
    margin: 32px 0 40px;

  }

}

.contentWrapper {
  display: flex;
  flex-wrap: wrap;

  @media (--viewportMedium) {
    flex-wrap: nowrap;
  }
}

.contentSide {
  font-style: italic;

  @media (--viewportMedium) {
    width: 193px;
    margin-right: 103px;
    margin-top: 8px;
  }
}

.contentMain {
  width: 100%;

  @media (--viewportLarge) {
    max-width: 100%;
  }
}



.contentMain section:first-child .flex img{
  max-width: 100%;
  @media screen(--viewportMedium) {
    margin-left: 2rem;
  }
}

.subtitle {
  @apply --marketplaceH3FontStyles;
  margin-top: 32px;
  margin-bottom: 16px;
}

.button{
  width: 150px;

}

.contentWrapper .button{
  margin:0 auto;
}

.howItWorks .flex img{
  width: 250px;
  margin: .5rem 1.5rem;
}

.howItWorks .flex{
  margin-top: 1.5rem;
}

.howItWorks .flex + .flex{
  flex-direction: column-reverse;
  @media (--viewportMedium){
    flex-direction: row;
  }

}

.howItWorks,
.button a {
  color:unset;
  text-decoration: none;
}

.button a:hover{
  text-decoration: none;
}

.emph{
  text-decoration: underline;
  font-style: italic;
}

.cardList{
  border: 1px solid #ddd;
  padding: 4px;

  width: 250px;
  text-align: center;
  position: relative;
  width: 100%;
  margin-top: 4rem;

  @media (--viewportMedium){
    margin: 16px 4px;
  }

}

.cardList img{

  margin: 0 auto;
  position: absolute;
  top: -25px;
  background-color: #fff;
  width: 46px;
  left: calc(50% - 23px);
}

.cardList p{
  padding: 16px;
}


.cardListWrapper{
  display:flex;
  justify-content: space-between;
  margin-top: 4rem;
  flex-direction:column;

  @media (--viewportMedium) {
    flex-direction:row;
  }

}
.strike{
  text-decoration:line-through;
}
.staticPageWrapper h3{
  text-align: center;
}
